
.nav li a,
.nav li span,
.nav li div div,
.nav summary {

  background-color: transparent !important;
  color: black !important;
  font-weight: 500;
  margin: 0 10px;

}

.nav li div div,
.nav li:hover {
  border-radius: 10px;
  background-color: #c8ddffd3;
}


